<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Klipt</string>
    <key>CFBundleDisplayName</key>
    <string>Klipt</string>
    <key>CFBundleIdentifier</key>
    <string>app.klipt.Klipt</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Klipt</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 Klipt. All rights reserved.</string>
    <key>SUFeedURL</key>
    <string>https://klipt.app/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>hu0z+OZVy8R4dk7/eVoBpqsqf2p/Y0BSlLbDkehE6sY=</string>
</dict>
</plist>
